@model WebApps.Models.Post


@{
    ViewData["Title"] = "Details";
}
<!--  Author: Marius Boncica 
    Version 1.0
-->
<header class="main-header u-flex">
    <div class="start u-flex">
        <a class="logo">m</a>
        <div class="search-box-wrapper">
            <form asp-action="Index" method="get">
                <div class="form-action no-color">

                    <input type="text" class="search-box" name="userName" placeholder=".....Search Posts" />
                    <input type="submit" class="icon-search" style="width:40px" value="🔎">

                </div>
            </form>

        </div>
    </div>
    <nav class="main-nav">
        <ul class="main-nav-list u-flex">
            <li class="main-nav-item u-only-wide"><a asp-action="Index" asp-controller="Posts" aria-label="Homepage" class="main-nav-button alt-text is-selected"><span class="icon" aria-hidden="true">🏠</span></a></li>
            <li class="main-nav-item u-only-wide"><a asp-action="Index" asp-controller="MessagePosts" aria-label="MessagePosts" class="main-nav-button alt-text"><span class="icon" aria-hidden="true">🏁</span></a></li>
            <li class="main-nav-item u-only-wide"><a asp-action="Index" asp-controller="PhotoPosts" aria-label=" PhotoPosts" class="main-nav-button alt-text"><span class="icon" aria-hidden="true">📺</span></a></li>
            <li class="main-nav-item u-only-wide">
                <a asp-controller="MessagePosts" asp-action="Create" class="main-nav-button alt-text is-selected" aria-label="Create Message Post"><span class="icon" aria-hidden="true">💬</span></a>
            </li>
            <li class="main-nav-item u-only-wide">
                <a asp-controller="Photoposts" asp-action="Create" class="main-nav-button alt-text is-selected" aria-label="Create Photo Post"><span class="icon" aria-hidden="true">➕</span></a>
            </li>


        </ul>
    </nav>
    <div class="end"></div>
</header>



<nav class="user-nav">
    <ul class="user-nav-list u-flex">
        <li class="user-nav-item">
            <a class="user">
                <img class="user-image" src="~/images/drive.jpg" height="28" width="28" alt="">
                <span class="user-name">Marius Boncica</span>
            </a>
        </li>
        <li class="user-nav-item">
            <a asp-controller="Photoposts" asp-action="Create" class="icon-button alt-text" aria-label="Create Photo Post"><span class="icon" aria-hidden="true">➕</span></a>
        </li>
        <li class="user-nav-item">
            <a asp-controller="Messageposts" asp-action="Create" class="icon-button alt-text" aria-label="Create Message Post"><span class="icon" aria-hidden="true">💬</span></a>
        </li>

    </ul>
</nav>

<main class="main-feed">
    
        <ul class="main-feed-list">
            <li class="main-feed-item">
                <article class="common-post">
                    <header class="common-post-header u-flex">

                        <img src="~/images/running.jpg" class="user-image" width="40" height="40" alt="">

                        <div class="common-post-info">
                            <div class="user-and-group u-flex">

                                <a href="https://www.facebook.com/unicolondon" aria-label="Follow me on Facebook" target="_blank">
                                    Post ID: @Html.DisplayFor(model => model.PostId) |

                                User Name: @Html.DisplayNameFor(model => model.Username)

                                </a>
                            </div>

                            <div class="time-and-privacy" style="font-size:14px;"><time datetime="">@Model.FormatElapsedTime() </time><span class="icon icon-privacy">🌎</span></div>
                        </div>
                        <a class="icon-button-2 u-margin-inline-start" asp-action="Details" aria-label="Details"><span class="icon-menu"></span></a>
                    </header>
                    <div class="common-post-content common-content">
                        <p></p>
                           
                           
                               

                                <br>

                                <br>

                                
                            
                    </div>
                    <div class="summary u-flex">
                        <div class="reactions">❤️</div>
                        <div class="reactions-total">@Html.DisplayFor(model => Model.Likes)</div>
                        <div class="total-comments u-margin-inline-start">
                           

                        </div>
                    </div>
                    <section class="actions-buttons">
                    @if (Model.Comments == null)
                    {
                        
            <p class="actions-buttons-item"><a class="actions-buttons-button" asp-controller="Comments" asp-action="Index" asp-route-id="@Model.PostId" aria-label="Click to view commenmts"><span class="icon">💬</span><span class="text">View Comments</span></a></p>
                    }
                    else
                    {
                        foreach (Comment comment in Model.Comments)
                        {
                            <p>
                                @comment.Text
                            </p>
                        }
                    }
                        <ul class="actions-buttons-list u-flex">
                            <li class="actions-buttons-item"><a class="actions-buttons-button" asp-action="Like" asp-route-id="@Model.PostId" aria-label="Click for Like"><span class="icon">👍</span><span class="text">Like</span></a></li>
                            <li class="actions-buttons-item"><a class="actions-buttons-button" asp-action="Unlike" asp-route-id="@Model.PostId" aria-label="Click to Unlike"><span class="icon">👎</span><span class="text">Unlike</span></a></li>
                            
                            <li class="actions-buttons-item"><a class="actions-buttons-button" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.PostId"><span class="icon" aria-label="Click to add comment">💬</span><span class="text">Add Comment</span></a></li>
                        <li class="actions-buttons-item">
                            <a class="actions-buttons-button" asp-action="Index">
                                <span class="icon" aria-label="Go Back">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </span><span class="text">Go Back</span>
                            </a>
                        </li>

                        </ul>
                        
                    </section>
                </article>
            </li>
        </ul>
    
</main>
