@model IEnumerable<WebApps.Models.Post>


@{
    ViewData["Title"] = "MB Network Application";
}
<div class="text-center jumbotron justify-content-center">

    <figure>
        <div class="flip-card-container" style="max-width:70%;margin-left:15%">
            <h1>
                Network App
            </h1>
            <div class="flip-card">
                <div class="flip-card-front">
                    <h1>


                        <span class="gradient-color-text">

                            By Marius Boncica
                        </span>
                    </h1>
                    <img src="https://www.bing.com/th?id=OIP.wLqTEJQjry6djViQdtHd1wHaFj&w=137&h=103&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">

                </div>
                <div class="flip-card-back">
                    <h2>
                        <span class="gradient-color-text">
                            This App will allow you to
                           post a message, post a photo with caption and timestamp .Add likes, unlike and comments. Manage and filter posts.
                        </span>
                    </h2>



                </div>
            </div>
        </div>
    </figure>
</div>
<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Find By Name:
            <input type="text" name="userName"/>
            <input type="submit" value="Search" class="btn" style="width:100px" />
           
        </p>
    </div>
</form>

<p>
   
    <a class="btn"  asp-action="Index" asp-controller="MessagePosts">Message Posts</a>


    <a class="btn" asp-action="Index" asp-controller="PhotoPosts">Photo Posts</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PostID
            </th>
           
            <th>
               User Name
            </th>

            
            <th>
               Photo
            </th>
            <th>
                Message
            </th>
            <th>Timestamp

            </th>
            <th>
                Likes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            MessagePost message = null;
           PhotoPost photo = null;
           
            if(item is MessagePost)
            {
                message = (MessagePost)item;
            }
            if(item is PhotoPost)
            {
                photo = (PhotoPost)item;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
                <!-- <td>
                    @if (message != null)
                    {
                        <span>@message.Message</span>
                    }
                </td> -->
                <td>
                    @if (photo != null)
                    {
                        <img src="/images/@photo.Filename" width="200" height="200" style="border:50px;border-radius:20px;animation: nudge 2s linear infinite !important;">
                    }
                </td>
                <td>
                    @if (photo != null)
                    {
                        <span>@photo.Caption</span>
                    }
                </td>
            <td>
                @item.FormatElapsedTime()
            </td>
                <td>@Html.DisplayFor(modelitem => item.Comments)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                    <a class="btn btn-success" asp-controller="PhotoPosts" asp-action="Edit" asp-route-id="@item.PostId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>Edit
                    </a> |
                    <a class="btn btn-info" asp-controller="PhotoPosts" asp-action="Details" asp-route-id="@item.PostId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                            <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
                        </svg>Details
                    </a> |
                    <a class="btn btn-danger" asp-controller="PhotoPosts" asp-action="Delete" asp-route-id="@item.PostId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
