@model IEnumerable<WebApps.Models.Post>


@{
    ViewData["Title"] = "MB Network Application";
}
<div class="text-center jumbotron justify-content-center">

    <figure>
        <div class="flip-card-container" style="max-width:70%;margin-left:15%">
            <h1>
                Network App
            </h1>
            <div class="flip-card">
                <div class="flip-card-front">
                    <h1>


                        <span class="gradient-color-text">

                            By Marius Boncica
                        </span>
                    </h1>
                    <img src="https://www.bing.com/th?id=OIP.wLqTEJQjry6djViQdtHd1wHaFj&w=137&h=103&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">

                </div>
                <div class="flip-card-back">
                    <h2>
                        <span class="gradient-color-text">
                            This App will allow you to
                           post a message, post a photo with caption and timestamp .Add likes, unlike and comments. Manage and filter posts.
                        By Marius Boncica</span>
                    </h2>



                </div>
            </div>
        </div>
    </figure>
</div>
<header class="main-header u-flex">
    <div class="start u-flex">
        <a class="logo">m</a>
        <div class="search-box-wrapper">
            <form asp-action="Index" method="get">
                <div class="form-action no-color">
                    <input type="submit" class="icon-search" style="width:40px" value="🔎">
                    <input type="text" class="search-box" name="userName" placeholder="......Search Posts" />
                    

                </div>
            </form>
            
        </div>
    </div>
    <nav class="main-nav">
        <ul class="main-nav-list u-flex">
            <li class="main-nav-item u-only-wide"><a asp-action="Index" asp-controller="Posts" aria-label="Homepage" class="main-nav-button alt-text is-selected"><span class="icon" aria-hidden="true">🏠</span></a></li>
            <li class="main-nav-item u-only-wide"><a asp-action="Index" asp-controller="MessagePosts" aria-label="MessagePosts" class="main-nav-button alt-text"><span class="icon" aria-hidden="true">🏁</span></a></li>
            <li class="main-nav-item u-only-wide"><a asp-action="Index" asp-controller="PhotoPosts" aria-label=" PhotoPosts" class="main-nav-button alt-text"><span class="icon" aria-hidden="true">📺</span></a></li>
            <li class="main-nav-item u-only-wide">
                <a asp-controller="MessagePosts" asp-action="Create" class="main-nav-button alt-text is-selected" aria-label="Create Message Post"><span class="icon" aria-hidden="true">💬</span></a>
            </li>
            <li class="main-nav-item u-only-wide">
                <a asp-controller="Photoposts" asp-action="Create" class="main-nav-button alt-text is-selected" aria-label="Create Photo Post"><span class="icon" aria-hidden="true">➕</span></a>
            </li>
            

        </ul>
    </nav>
    <div class="end"></div>
</header>



<nav class="user-nav">
    <ul class="user-nav-list u-flex">
        <li class="user-nav-item">
            <a class="user">
                <img class="user-image" src="~/images/drive.jpg" height="28" width="28" alt="">
                <span class="user-name">Marius Boncica</span>
            </a>
        </li>
        <li class="user-nav-item">
            <a asp-controller="Photoposts" asp-action="Create" class="icon-button alt-text" aria-label="Create Photo Post"><span class="icon" aria-hidden="true">➕</span></a>
        </li>
        <li class="user-nav-item">
            <a asp-controller="Messageposts" asp-action="Create"class="icon-button alt-text" aria-label="Create Message Post"><span class="icon" aria-hidden="true">💬</span></a>
        </li>
       
    </ul>
</nav>

<main class="main-feed">
    @foreach (var item in Model) {
            MessagePost message = null;
           PhotoPost photo = null;
        Comment comments = null;

            if(item is MessagePost)
            {
                message = (MessagePost)item;
            }
            if(item is PhotoPost)
            {
                photo = (PhotoPost)item;
            }
    <ul class="main-feed-list">
        <li class="main-feed-item">
            <article class="common-post">
                <header class="common-post-header u-flex">

                    <img src="~/images/running.jpg" class="user-image" width="40" height="40" alt="">
                    
                    <div class="common-post-info">
                        <div class="user-and-group u-flex">

                                <a href="https://www.facebook.com/unicolondon" aria-label="Follow me on Facebook"target="_blank">
                                   Post ID: @Html.DisplayFor(modelItem => item.PostId) |

                                       User Name: @Html.DisplayFor(modelItem => item.Username)
                                   
                                </a>
                        </div>

                        <div class="time-and-privacy" style="font-size:14px;"><time datetime="">@item.FormatElapsedTime() </time><span class="icon icon-privacy">🌎</span></div>
                    </div>
                    <a class="icon-button-2 u-margin-inline-start" asp-action="Details" aria-label="Details"><span class="icon-menu"></span></a>
                </header>
                <div class="common-post-content common-content">
                    <p>  @if (message != null){
                        <b>  <a asp-controller="MessagePosts" asp-action="Details" aria-label="Click to view"  asp-route-id="@item.PostId">
                            <span>@message.Message</span>
                                <p>
                                <img src="https://th.bing.com/th/id/OIP.0WIqncqOmlUerEAD3ZFjUAHaFa?w=230&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"  style="width:80%; height:450px;margin-left:10%; border:50px;border-radius:20px;animation: nudge 2s linear infinite !important;">
</a>
                           </b><br> <br>
                  }
                  @if (photo != null)
                            {
                                <b>
                                    <a asp-controller="PhotoPosts" asp-action="Details" asp-route-id="@item.PostId" aria-label="Click to view">
                                        <span>@photo.Caption"</span>  
                                    </a></b><br><br>

                                <a asp-controller="PhotoPosts" asp-action="Details" aria-label="Click to view" asp-route-id="@item.PostId">
                                <img class="embed-content-image" src="/images/@photo.Filename" style="width:80%; height:450px;margin-left:10%; border:50px;border-radius:20px;animation: nudge 2s linear infinite !important;">
                           </a>
                           }
                    </div>
                <div class="summary u-flex">
                    <div class="reactions">❤️</div>
                        <div class="reactions-total">@Html.DisplayFor(modelItem => item.Likes)</div>
                    <div class="total-comments u-margin-inline-start">
                            @if (comments != null)
                            {
                                <a asp-controller="Comments"  asp-action="Index" asp-route-id="@item.PostId">   
                                    @Html.DisplayFor(ModelItem => item.Comments)
                                    <span>@comments.Text</span>
                                </a>
                            }
                            
                    </div>
                </div>
                <section class="actions-buttons">
                    <ul class="actions-buttons-list u-flex">
                        <li class="actions-buttons-item"><a class="actions-buttons-button"  asp-action="Like" asp-route-id="@item.PostId" aria-label="Click for Like" ><span class="icon">👍</span><span class="text">Like</span></a></li>
                            <li class="actions-buttons-item"><a class="actions-buttons-button"  asp-action="Unlike" asp-route-id="@item.PostId" aria-label="Click to Unlike" ><span class="icon">👎</span><span class="text">Unlike</span></a></li>
                            <li class="actions-buttons-item"><a class="actions-buttons-button" asp-controller="Comments" asp-action="Index" asp-route-id="@item.PostId" aria-label="Click to view commenmts" ><span class="icon">💬</span><span class="text">View Comments</span></a></li>
                            <li class="actions-buttons-item"><a class="actions-buttons-button" asp-controller="Comments"  asp-action="Create" asp-route-id="@item.PostId"><span class="icon" aria-label="Click to add comment" >💬</span><span class="text">Add Comment</span></a></li>
                        
                    </ul>
                </section>
            </article>
        </li>
        </ul>
        }
        </main>


