@model WebApps.Models.RPSGame

@{
    ViewData["Title"] = "MB RPS Game";
}




<head>
    <link rel="stylesheet" href="~/css/RPSGame.css" />
</head>
<h2 class="css_button" style="color:white;position:fixed;left:5%;top:12%;max-width:15%;z-index:2;">@ViewData["Title"]</h2>

<div class="backpanel">
<div class="score">


        @if (string.IsNullOrEmpty(ViewData["UserChoice"] as string))
        {
           
            <form method="post">
                <div class="form-group">
                    <input type="text" name="username" value="Enter Your Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Start Game" class="css_button" />
                </div>
            </form>
        }
        else
        {
            <p class="player__name"></p>
            
          
            @if (ViewData["counts"] != null && int.TryParse(ViewData["counts"].ToString(), out int count) && count > 0)

            {
                <p>Remaining Plays: @ViewData["counts"]</p>
            }
            else
            {
               
                    <input class="css_button" style="color:white;font-size:32px" asp-action="RPS" type="submit" value="Game Over">
                 
                
            }
        }

    @if (!string.IsNullOrEmpty(ViewData["UserScore"] as string) && !string.IsNullOrEmpty(ViewData["ComputerScore"] as string))
        {
            
    <div class="player">
                <h2 class="player__name">@ViewData["Username"]</h2>
            <h2 class="css_button">@ViewData["UserScore"]</h2>
    </div>
   
    <div class="computer">
        <h2>Computer's Score</h2>
            <h2 class="css_button">@ViewData["ComputerScore"]</h2>
    </div>
}
</div>
</div>

<h1 class="css_button" style="color:white">@ViewData["Result"]</h1>
<form method="post">
    <div class="backpanel">

        <div class="moves">
            @if (!string.IsNullOrEmpty(ViewData["UserChoice"] as string))
            {
                <div class="player__move">
                    <h2 class="player__move-name">@ViewData["UserChoice"]</h2>
                    <h2 class="css_button">@ViewData["UserChoice"]</h2>
                </div>

                <div class="computer__move">
                    <h2>Computer's Choice</h2>
                    <h2 class="css_button">@ViewData["ComputerChoice"]</h2>
                </div>
            }
        </div>

       
</div>
<div class="options">
    <button class="css_button" id="rock" name="userChoice" value="ROCK"><img src="~/images/rock.png" width="200px" height="150px"></button>
        <button class="css_button" id="paper" name="userChoice" value="PAPER"><img src="~/images/paper.png" width="200px" height="150px"></button>
        <button class="css_button" id="scissor" name="userChoice" value="SCISSOR"><img src="~/images/scissors.png" width="200px" height="150px"></button>
</div>
  <input class="css_button" style="color:white;position:fixed;top:43%;left:47%"type="submit" value="Restart">
</form>

