@model WebApps.Models.MessagePost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MessagePost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Comments == null || Model.Comments.Count() == 0)
    {
        <p>No comments have been added!</p>
    }
    else
    {
        foreach (Comment comment in Model.Comments)
        {
            <p>
                @comment.Text
            </p>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
